<template>
    <div>

        <!-- <filtro-completo @aplicaFiltro="aplicaFiltro"></filtro-completo> -->

        <div class="row">
          <div class="col-xl-12 mt-4">
              <div class="card mb-4">
                  <div class="card-header">
                      <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                      Benchmark
                  </div>
                  <div class="card-body">
                      <!-- <grafico-dashboard :filtro="filtro" ></grafico-dashboard> -->
                      <!-- <bar-chart :chart-data="datacollection" :options="options" :height="150"></bar-chart> -->
                      <bar-chart :chart-data="datacollection" :options="options" :height="130"></bar-chart>
                  </div>
              </div>
          </div>
        </div>

        
    </div>
</template>

<script>
    import BarChart from '../BarChart.js'


    export default {
        components: { BarChart },
        data(){
            return {
                datacollection: {},
                options: {},
                datos: {},
                total: [],
                filtro : {
                    medicion_id: 0,
                    formato_id: 0,
                    sucursal_id: 0,
                    seccion_id: 0,
                    dimension_id: 0,
                },
                
                
            }
        },
        mounted () {
            this.recuperaDashboard()
            // this.fillData();
            
        },
        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
            },
            async recuperaDashboard(){
                await axios.post("api/benchmark", {
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    this.datos = data.data.data;
                    this.fillData();
                })                // ({ data }) => (this.datos = data.data)
            },

            fillData ()
            {
                this.datacollection = {
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: [
                        'Total', 'Frutas y Verduras', 'Carnicería', 'Fiambrería', 'Panadería y Pastelería'
                    ],
                    datasets: [
                        {
                            label: 'Total',
                            data: [74.8, 81.2, 75.6, 95.8, 70.2],
                            backgroundColor: 'rgba(255, 252, 78, 0.5)',
                            borderColor: 'rgb(255, 205, 86)',
                            borderWidth: 1
                        },
                        {
                            label: 'Higiene y orden del local',
                            data: [95.4, 90.4, 90.4, 90.4, 90.4],
                            backgroundColor: 'rgba(255, 169, 78, 0.5)',
                            borderColor: 'rgb(225, 146, 61)',
                            borderWidth: 1
                        },
                        {
                            label: 'Productos',
                            data: [67.7, 67.7, 67.7, 67.7, 67.7],
                            backgroundColor: 'rgba(90, 149, 96, 0.5)',
                            borderColor: 'rgb(6, 100, 16)',
                            borderWidth: 1
                        },
                        {
                            label: 'Personal de atención',
                            data: [92.4, 92.4, 92.4, 92.4, 92.4],
                            backgroundColor: 'rgba(252, 153, 0, 0.5)',
                            borderColor: 'rgb(204, 124, 0)',
                            borderWidth: 1
                        }
                    ],
                    

                }

                this.options = {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    max: 100, // maximum value
                                    min:0
                                }
                            }]
                        },

                }
            }
        },
        watch: {
          filtro: {
              handler: function(val, oldVal) {
                //   this.recuperaDashboard()
              },
              deep: true
          }
      }
    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>