<template>
    <div v-if="pregunta.cod_interno">

        <table class="table table-hover table-bordered border-primary">
            <thead>
                <tr>
                    <th width="85%">{{ pregunta.cod_interno }} {{ pregunta.literal_pregunta }}</th>
                    <th class="text-center">Jul Q1</th>
                    <th class="text-center">Jul Q2</th>
                    <th class="text-center">Ago Q1</th>
                    <th class="text-center">Ago Q2</th>
                    <th class="text-center">Sep Q1</th>
                    <th class="text-center">Sep Q2</th>
                    <th class="text-center">Oct Q1</th>
                    <th class="text-center">Oct Q2</th>
                    <th class="text-center">Nov Q1</th>
                    <th class="text-center">Nov Q2</th>
                    <th class="text-center">Dic Q1</th>
                    <th class="text-center">Dic Q2</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(variedad, index) in variedades" :key="variedad.cod_interna">
                    <td width="85%">
                        <!-- {{ cod_interno }} - {{ filtro.sucursal_id }} - {{ index }} -  -->
                        <!-- {{ (cod_interno == 'P3_2_4' && filtro.sucursal_id == 2114160188) ? '--' : index }} -->
                        
                        {{ index }}
                    </td>
                    <!-- TODO: Falta implementar las columnas automaticamente -->
                    <!-- <i v-if="dato.existe == 1" class="fas fa-check green"></i>
                        <i v-else-if="dato.existe == 0" class="fas fa-ban red"></i> -->
                    <td class="text-center">
                        <i v-if="variedad.m1 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m1 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m1 == 1 ? "100%" : "0%" }} -->
                        </td>
                    <td class="text-center">
                        <i v-if="variedad.m2 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m2 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m2 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m3 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m3 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m3 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m4 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m4 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m4 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m5 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m5 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m5 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m6 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m6 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m6 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m7 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m7 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m7 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m8 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m8 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m8 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m9 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m9 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m9 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m10 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m10 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m10 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m11 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m11 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m11 == 1 ? "100%" : "0%" }} -->
                    </td>
                    <td class="text-center">
                        <i v-if="variedad.m12 == 1" class="fas fa-check green"></i>
                        <i v-else-if="variedad.m12 == 0" class="fas fa-ban red"></i>
                        <!-- {{ variedad.m12 == 1 ? "100%" : "0%" }} -->
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</template>

<script>
    export default {
        data() {
            return {
                filtroComponente: this.filtro.sucursal_id,
                pregunta: {},
                variedades: {},
            }
        },
        props: ['filtro', 'cod_interno'],
        methods: {
            // aplicaFiltro(filtro) {
            //     this.filtro = filtro;
            // },
            recuperaDatos(){
                axios.post("post_variedad_por_seccion", {
                    'filtro' : this.filtro.sucursal_id,
                    'cod_interno' : this.cod_interno,
                }).then(({ data }) => (this.pregunta = data.data));
            },
            recuperaVariedades(){
                this.variedades = {};
                this.$Progress.start()
                axios.post("post_variedad_por_pregunta", {
                    'filtro' : this.filtro.sucursal_id,
                    'cod_interno' : this.cod_interno,
                }).then(({ data }) => (this.variedades = data.data));
                this.$Progress.finish()
            }
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                    this.recuperaVariedades(); // call it in the context of your component object
                },
                deep: true
            }
        }, 
    }
</script>

<style lang="scss" scoped>

</style>