<template>
    <div>
        <!-- <filtro-sucursal @aplicaFiltro="aplicaFiltro" @cod_sucursal="filtro"></filtro-sucursal> -->
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro"></filtro-completo>

        <div v-show="filtro.sucursal_id === '0'" class="card mt-4 mb-4">
            <div class="card-body text-center">
                <h4>Selecciona una sucursal</h4>
            </div>
        </div>
            
        <!-- {{ filtro.sucursal_id }} -->

        <div v-show="filtro.sucursal_id != 0" class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Frutas y Veduras
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P1_2_4" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P1_2_5" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="filtro.sucursal_id != 0" class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Carnicería
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P2_1_2_6" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P2_2_2_6" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P2_2_2_7" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="filtro.sucursal_id != 0" class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Fiambrería
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P3_2_4" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P3_2_4_6" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                </div>
            </div>
        </div>

        <div v-show="filtro.sucursal_id != 0" class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Panadería y Pastelería
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P4_2_4" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                    <div class="mb-4">
                        <tabla-variedad-por-seccion cod_interno="P4_2_5" :filtro="filtro"></tabla-variedad-por-seccion>
                    </div>

                </div>
            </div>
        </div>

        
        <!-- <tabla-variedad-por-seccion-tres @filtro="filtro"></tabla-variedad-por-seccion-tres> -->
        
    </div>
</template>

<script>

    // import TablaVaridadPorSeccion from '/component/variedadPorSeccio/TablaVariedadPorSeccion';
    // import TablaVaridadPorSeccionTres from './TablaVariedadPorSeccion';

    import FiltroCompleto from '../FiltroCompleto2.vue';


    export default {
        components: { FiltroCompleto },
        data() {
            return {
                filtro : {
                    sucursal_id: '0',
                },
                muestraFiltro : {
                    medicion : false,
                    formato : true,
                    seccion : false,
                    dimension : false,
                }
            }
        },
        // components: {
        //     TablaVaridadPorSeccionTres,
        // },

        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>