// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.blue {
    color : $blue;
}
.indigo {
    color : $indigo;
}
.purple {
    color : $purple;
}
.pink {
    color : $pink;
}
.red {
    color : $red;
}
.orange {
    color : $orange;
}
.yellow {
    color : $yellow;
}
.green {
    color : $green;
}
.teal {
    color : $teal;
}
.cyan {
    color : $cyan;
}

.btn-lider {
    color: #fff;
    background-color : rgb(3, 101, 192); 
}

.btn-lider:hover {
    color: #fff;
    background-color : rgb(1, 71, 136); 
}

.btn-express {
    color: #fff;
    background-color : rgb(0, 176, 240); 
}

.btn-express:hover {
    color: #fff;
    background-color : rgb(3, 154, 209); 
}

.btn-sba {
    color: #fff;
    background-color : rgb(200, 37, 6); 
}

.btn-sba:hover {
    color: #fff;
    background-color : rgb(165, 29, 1); 
}