<template>
    <div>

        <table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="5727cad2-f090-42e7-9721-ca4cb55bae6b">
            <tbody>
                <tr>
                    <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
                    <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:50% !important; width:50%; height:auto !important;" width="145" alt="" data-proportionally-constrained="true" data-responsive="true" src="/img/walmart_grande_fondo.png">
                    </td>
                    <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
                    <!-- <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:50% !important; width:50%; height:auto !important;" width="145" alt="" data-proportionally-constrained="true" data-responsive="true" src="http://cdn.mcauto-images-production.sendgrid.net/cb0dbee6d8c017d6/19e8ba62-1c2d-4f10-9a6a-6a7022a222f3/640x217.png"> -->
                    </td>
                    <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
                    <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:50% !important; width:50%; height:auto !important;" width="145" alt="" data-proportionally-constrained="true" data-responsive="true" src="/img/logo-activa_header.png">
                    </td>
                </tr>
            </tbody>
        </table>
      
        <div class="row justify-content-md-center mt-5">
            <div class="col-lg-12 h3 text-center">
                Sucursal : {{ local.cod_sucursal }} {{ local.nombre_sucursal }}
            </div>
            <div class="col-lg-12 h3 text-center">
                Fecha : {{ local.fecha_completacion | myDateShort }}
            </div>
            <div class="col-lg-12 h3 text-center">
                {{ local.porc }}%
            </div>
        </div>

        <div v-for="(dato, index) in datos" :key="dato.id" class="mt-2 html2pdf__page-break">
            <table class="table-bordered mt-5" width="100%">
                <tr>
                    <td width="90%" style="padding:5px 0px 5px 0px; background-color:#0071CE;">
                        <span style="color: #ffffff">
                            <strong> {{ dato.dato.titulo_seccion }}</strong>
                        </span>
                    </td>
                    <td style="padding:0px 0px 0px 0px; background-color:#0071CE;" class="text-center">
                        <span style="color: #ffffff">
                            <strong>{{ parseFloat(dato.dato.porc).toFixed(decimales) }}%</strong>
                        </span>
                    </td>
                </tr>

                <template v-for="(sub_seccion, index1) in dato.sub_seccion">
                    <tr>
                        <td width="90%" style="padding:5px 0px 5px 0px; background-color:#CFF4FC;">
                            <span style="color: #000">{{ sub_seccion.dato.titulo_sub_seccion }}</span>
                        </td>
                        <td class="text-center" style="padding:5px 0px 5px 0px; background-color:#CFF4FC;">
                            <span style="color: #000">{{ parseFloat(sub_seccion.dato.porc).toFixed(decimales) }}%</span>
                        </td>
                    </tr>

                    <template v-for="(dimension, index2) in sub_seccion.dimension">
                        <tr>
                            <td width="90%" style="padding:10px 0px 10px 0px;">
                                <div style="font-family: inherit; text-align: inherit">
                                    <strong>
                                        {{ dimension.dato.dimension_descripcion }}
                                    </strong>
                                </div>
                            </td>
                            <td class="text-center" style="padding:10px 0px 10px 0px;">
                                <div style="font-family: inherit; text-align: inherit">
                                    <strong>
                                        {{ parseFloat(dimension.dato.porc).toFixed(decimales) }}%
                                    </strong>
                                </div>
                            </td>
                        </tr>

                        <tr v-for="(pregunta, index4) in dimension.preguntas">
                            <td width="90%" style="padding:10px 0px 10px 0px;">
                                <div class="mx-10" style="font-family: inherit; text-align: inherit">
                                    <!-- {{ pregunta.dato.cod_interno }} {{ pregunta.dato.literal_pregunta }} -->
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ pregunta.dato.literal_pregunta }}
                                </div>
                            </td>
                            <td class="text-center" style="padding:10px 0px 10px 0px;">
                                <div style="font-family: inherit; text-align: inherit">
                                    {{ parseFloat(pregunta.dato.porc).toFixed(decimales)  }}%
                                </div>
                            </td>
                        </tr>
                    </template>
                </template>

                

                <!-- 

                 -->



            </table>
        </div>





    </div>
</template>

<script>
    export default {
        data() {
            return {
                datos: {},
                decimales: 0,
            }
        },
        props: ['filtro', 'local'],

        methods: {
            recuperaDatos(){
                //let link = "/api/evaluacion/" + this.filtro.medicion_id + "/" + this.local.cod_sucursal;
                // this.filtro.sucursal_id = this.local.cod_sucursal;
                axios.post("api/evaluacion", {
                    'filtro' : this.filtro,
                    'local' : this.local,
                })
                .then(({data})=>{
                    this.datos = data.data.dato;
                });
            },
        },
        mounted () {
            this.recuperaDatos();
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            },
            local: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            }
        }, 

    }
</script>

<style lang="scss" scoped>
    
</style>