<template>
    <div>
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro"></filtro-completo>

        <div class="col-xl-12 mt-4">
            <table class="table table-bordered">
                <tbody>
                    <tr style="background-color: #0071CE; color : #FFF ">
                        <td width="10%" class="text-center">N° Local</td>
                        <td class="text-center">Nombre Local</td>
                        <td width="10%" class="text-center">Fecha</td>
                        <td width="10%" class="text-center">% logro</td>
                        <td width="10%">&nbsp;</td>
                    </tr>
                    <tr v-for="(dato, index) in datos" :key="index">
                        <td class="text-center">{{ dato.cod_sucursal }}</td>
                        <td>{{ dato.nombre_sucursal }}</td>
                        <td class="text-center">{{ dato.fecha_completacion | myDateShort }}</td>
                        <td class="text-center">{{ dato.porc }}</td>
                        <td class="text-center">
                            <button class="btn btn-Light btn-sm" @click="newModal(dato)">
                                <i class="far blue fa-eye"></i>
                            </button>
                            <!-- <button class="btn btn-Light btn-sm" @click="generateReport(dato)">
                                <i class="far green fa-file-pdf"></i>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div v-if="filtro.medicion_id != 0"  class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Evaluación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <evaluacion-detalle v-if="local != 0" :filtro="filtro" :local="local"></evaluacion-detalle>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" @click="generateReport()">Exportar PDF</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal print PSD -->
        <div v-if="filtro.medicion_id != 0"  class="modal fade" id="addNew2" tabindex="-1" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Evaluación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <vue-html2pdf 
                            :show-layout="false" 
                            :float-layout="true" 
                            :enable-download="true" 
                            :preview-modal="true" 
                            :paginate-elements-by-height="1400" 
                            filename="evaluacion" 
                            :pdf-quality="2" 
                            :manual-pagination="false" 
                            :vMargin="5"
                            pdf-format="letter" 
                            pdf-orientation="portrait" 
                            pdf-content-width="800px" 
                            ref="html2Pdf" 
                        > 
                            <section slot="pdf-content"> 
                                <div class="container">
                                    <evaluacion-detalle v-if="local != 0" :filtro="filtro" :local="local"></evaluacion-detalle>
                                </div>
                            </section> 
                        </vue-html2pdf> 
                    </div>
                </div>
            </div>
        </div>





    </div>
</template>

<script>
    import FiltroCompleto from '../FiltroCompleto2.vue';
    // import BarChart from '../BarChart'
    import EvaluacionDetalle from './EvaluacionDetalle.vue';
    import VueHtml2pdf from 'vue-html2pdf';

    export default {
        components: { FiltroCompleto, EvaluacionDetalle, VueHtml2pdf },
        data() {
            return {
                local : 0,
                muestra: 1,
                datacollection: {},
                options: {},
                datos: {},
                valores: {},
                etiquetas: {},
                colores: {},
                bordes: {},
                filtro : {
                    medicion_id: 0,
                    formato_id: 0,
                    sucursal_id: 0,
                    seccion_id: 0,
                    dimension_id: 0,
                },
                muestraFiltro : {
                    medicion : true,
                    formato : true,
                    seccion : false,
                    dimension : false,
                }
            }
        },
        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
                this.recuperaDatos();
            },
            recuperaDatos(){
                axios.post("api/evaluacion_list", {
                    'filtro' : this.filtro,
                }) //.then(({ data }) // => (this.datos = data.data));
                .then(({data})=>{
                    this.datos = data.data.dato;
                    // this.etiquetas = data.data.etiquetas;
                    // this.valores = data.data.valores;
                    // this.colores = data.data.colores;
                    // this.bordes = data.data.bordes;
                    // this.fillData();
                });
            },
            newModal(local){
                this.local = local;
                this.editmode = false;
                $('#addNew').modal('show');
            },
            generateReport () { 
                //this.local = local;
                this.$refs.html2Pdf.generatePdf() 
            },
            
        },
        created () {
            // this.recuperaDatos();
            // console.log(this.filtro);
            // this.aplicaFiltro(this.filtro);
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            }
        }, 
    }
</script>

<style lang="scss" scoped>

</style>