<template>
    <div>

        <div class="card my-2">
            <div class="card-body" style="background-color:#e7f1ff">
                <span v-if="texto" v-text="texto">
                </span>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Filtros
                </button>
                </h2>
                <!-- <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample"> -->
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <form @submit.prevent="filtrar()" class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label v-if="muestraFiltro.medicion" for="inputEmail3" class="col-md-1 col-form-label">Medicion</label>
                                    <div v-if="muestraFiltro.medicion" class="col-md-3">
                                            <select class="form-control" v-model="filtro.medicion_id">
                                                <option value=0>Seleccionar</option>
                                                <option 
                                                    v-for="(cat,index) in medicions" :key="index"
                                                    :value="index"
                                                    :selected="index == filtro.medicion_id">{{ cat }}</option>
                                            </select>
                                    </div>

                                    <label v-if="muestraFiltro.formato" for="inputEmail3" class="col-md-1 col-form-label">Formato</label>
                                    <div v-if="muestraFiltro.formato" class="col-md-3">
                                            <select @click="loadSucursales(filtro.formato_id)" class="form-control" v-model="filtro.formato_id">
                                                <!-- <option value=0>Seleccionar</option> -->
                                                <option 
                                                    v-for="(cat,index) in formatos" :key="index"
                                                    :value="index"
                                                    :selected="index == filtro.formato_id">{{ cat }}</option>
                                            </select>
                                    </div>

                                    <label v-if="muestraFiltro.formato" for="inputEmail3" class="col-md-1 col-form-label">Sucursales</label>
                                    <div v-if="muestraFiltro.formato" class="col-md-3">
                                        <select class="form-control" v-model="filtro.sucursal_id">
                                            <option value=0>Seleccionar</option>
                                            <option 
                                                v-for="(cat,index) in sucursals" :key="index"
                                                :value="index"
                                                :selected="index == filtro.sucursal_id">{{ cat }}</option>
                                        </select>
                                    </div>

                                    <label v-if="muestraFiltro.seccion" for="inputEmail3" class="col-md-1 col-form-label mt-2">Sección</label>
                                    <div v-if="muestraFiltro.seccion" class="col-md-3 mt-2">
                                        <select class="form-control" v-model="filtro.seccion_id">
                                            <option value=0>Seleccionar</option>
                                            <option 
                                                v-for="(cat,index) in seccions" :key="index"
                                                :value="index"
                                                :selected="index == filtro.seccion_id">{{ cat }}</option>
                                        </select>
                                    </div>

                                    <label v-if="muestraFiltro.dimension" for="inputEmail3" class="col-md-1 col-form-label mt-2">Dimensión</label>
                                    <div v-if="muestraFiltro.dimension" class="col-md-3 mt-2">
                                        <select class="form-control" v-model="filtro.dimension_id">
                                            <option value=0>Seleccionar</option>
                                            <option 
                                                v-for="(cat,index) in dimensions" :key="index"
                                                :value="index"
                                                :selected="index == filtro.dimension_id">{{ cat }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                                <button type="button" @click="limpiaFiltros()" class="btn btn-default float-right">Limpiar Filtros</button>
                            </div>
                            <!-- /.card-footer -->
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                medicions: [],
                formatos: [],
                sucursals: [],
                seccions: [],
                dimensions: [],
                texto: '',
                filtro : {
                    medicion_id: 0,
                    formato_id: 1,
                    sucursal_id: 0,
                    seccion_id: 0,
                    dimension_id: 0,
                },
                
            }
        },
        props: ['muestraFiltro'], 
        methods: {
            mensajeFiltro(){
                this.texto = '';
                if (this.filtro){
                    if (this.muestraFiltro.medicion){
                        for (var key in this.medicions) {
                            if (key == this.filtro.medicion_id) {
                                this.texto = 'Medición : ' + this.medicions[key] + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                            }
                        }
                    }

                    if (this.muestraFiltro.formato){
                        for (var key in this.formatos) {
                            if (key == this.filtro.formato_id) {
                                this.texto += 'Formato : ' + this.formatos[key] + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                            }
                        }

                        for (var key in this.sucursals) {
                            // console.log(this.sucursals, this.filtro.sucursal_id);
                            if (key == this.filtro.sucursal_id) {
                                this.texto += 'Sucursal : ' + this.sucursals[key] + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                            }
                        }

                    }

                    // console.log(this.sucursals);
                    

                    if (this.muestraFiltro.seccion){
                        for (var key in this.seccions) {
                            if (key == this.filtro.seccion_id) {
                                this.texto += 'Sección : ' + this.seccions[key] + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                            }
                        }
                    }

                    if (this.muestraFiltro.dimension){
                        for (var key in this.dimensions) {
                            if (key == this.filtro.dimension_id) {
                                this.texto += 'Dimensión : ' + this.dimensions[key] + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                            }
                        }
                    }

                }
            },
            loadMediciones(){
                axios.get("api/medicion/list").then(({ data }) => (this.medicions = data.data));
            },
            loadFormatos(){
                axios.get("formato/list").then(({ data }) => (this.formatos = data.data));
            },

            loadSucursales(formato) {
                // console.log(formato);
                if (formato != 0){
                    this.filtro.sucursal_id = 0;
                    axios.get("sucursal/list?formato=" + formato).then(({ data }) => (this.sucursals = data.data));
                }
                else {
                    
                    this.sucursals = [];
                }
            },
            loadSecciones(){
                axios.get("seccion/list").then(({ data }) => (this.seccions = data.data));
            },
            loadDimension(){
                axios.get("dimension/list").then(({ data }) => (this.dimensions = data.data));
            },
            limpiaFiltros(){
                
                this.filtro.medicion_id = 0;
                this.filtro.formato_id = 1;
                this.filtro.sucursal_id = 1;
                this.filtro.seccion_id = 0;
                this.filtro.dimension_id = 0;
            },
            filtrar(){
                this.$emit("aplicaFiltro", this.filtro)//<-- Justo aquí
            }
        },
        created() {
            // this.$Progress.start();
            this.loadMediciones();
            this.loadFormatos();
            this.loadSucursales();
            this.loadSecciones();
            this.loadDimension();
            // this.$Progress.finish();

            this.filtro.medicion_id = 12;
            this.filtro.formato_id = 1;

            this.mensajeFiltro();

            this.$emit("aplicaFiltro", this.filtro)
        },

        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    // console.log(val, oldVal);
                    this.mensajeFiltro();
                },
                deep: true
            },
            medicions: {
                handler: function(val, oldVal) {
                    this.mensajeFiltro();
                },
                deep: true
            },
            // formatos: {
            //     handler: function(val, oldVal) {
            //         this.mensajeFiltro();
            //     },
            //     deep: true
            // },
            // sucursals: {
            //     handler: function(val, oldVal) {
            //         this.mensajeFiltro();
            //     },
            //     deep: true
            // },
        }
    }
</script>

<style lang="scss" scoped>

</style>