<template>
    <div>

        <div v-if="$gate.isAdmin()">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Filtro </h5>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-1 col-form-label">Nombre</label>
                        <div class="col-sm-5">
                            <input type="text" v-model="filter.name" class="form-control" id="inputEmail3" placeholder="Nombre">
                        </div>
                        <label for="inputEmail3" class="col-sm-1 col-form-label">Tipo</label>
                        <div class="col-sm-3">
                            <select v-model="filter.type" name="type" id="type" class="form-control">
                                <option value="">Seleccionar Tipo</option>
                                <option value="admin">Admin</option>
                                <option value="user">Usuario</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" @click="getResults()" class="btn btn-sm btn-primary">Filtrar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-12 card mb-4 mt-4">
                <div class="card-header">
                    <div class="card-tools d-flex justify-content-end">
                        
                        <button class="btn btn-sm btn-primary " type="button" @click="newModal">
                            <i class="fa fa-plus-square"></i>
                            Agregar usuarios
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <!-- Billing history table-->
                    <div class="table-responsive table-billing-history">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-gray-200" scope="col">ID</th>
                                    <th class="border-gray-200" scope="col">Nombre</th>
                                    <th class="border-gray-200" scope="col">Email</th>
                                    <th class="border-gray-200" scope="col">Tipo</th>
                                    <th class="border-gray-200" scope="col">Fecha</th>
                                    <th class="border-gray-200" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in users.data" :key="user.id">
                                    <td>{{ user.id }}</td>
                                    <td class="text-capitalize">{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-capitalize">{{user.type}}</td>
                                    <td>{{ user.created_at | myDateShort }}</td>
                                    <td>
                                        <a href="#" @click="editModal(user)">
                                            <i class="fa fa-edit blue"></i>
                                        </a>
                                        /
                                        <a href="#" @click="deleteUser(user.id)">
                                            <i class="fa fa-trash red"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <pagination :data="users" @pagination-change-page="getResults"></pagination>
                </div>
            </div>
        </div>

        <div v-else>
            <not-found></not-found>
        </div>












        <!-- Button trigger modal -->
        



        <!-- Modal -->
        <div  class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <!-- <form @submit.prevent="createUser" @keydown="form.onKeydown($event)"> -->
                    <form @submit.prevent="editmode ? updateUser() : createUser()" @keydown="form.onKeydown($event)">
                        <div class="modal-header">
                            <h5 class="modal-title" v-show="!editmode">Crea nuevo Usuario</h5>
                            <h5 class="modal-title" v-show="editmode">Actualiza información del Usuario</h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3 row">
                                <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input class="form-control" v-model="form.name" type="text" name="name" :class="{ 'is-invalid': form.errors.has('email') }">
                                    <div class="invalid-feedback" v-if="form.errors.has('name')" v-html="form.errors.get('name')" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input class="form-control" v-model="form.email" type="email" name="email" :class="{ 'is-invalid': form.errors.has('email') }">
                                    <div class="invalid-feedback" v-if="form.errors.has('email')" v-html="form.errors.get('email')" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="password" class="col-sm-2 col-form-label">Clave</label>
                                <div class="col-sm-10">
                                    <input class="form-control" v-model="form.password" type="password" name="password" :class="{ 'is-invalid': form.errors.has('password') }">
                                    <div class="invalid-feedback" v-if="form.errors.has('password')" v-html="form.errors.get('password')" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="password" class="col-sm-2 col-form-label">Tipo de usuario</label>
                                <div class="col-sm-10">
                                    <select class="form-select" v-model="form.type" name="type" aria-label="Default select example" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <option value="user" selected>User</option>
                                        <option value="admin" selected>Admin</option>
                                    </select>
                                    <div class="invalid-feedback" v-if="form.errors.has('type')" v-html="form.errors.get('type')" />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                            


                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                            <!-- <button class="btn btn-primary" type="submit">Agregar</button> -->
                            <button v-show="editmode" type="submit" class="btn btn-success">Actualizar</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Crear</button>    
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    import Form from 'vform';
import NotFound from './NotFound.vue';

    export default {
  components: { NotFound },
        data: () => ({
            editmode: false,
            users: {},
            filter: new Form({
                'name' : '',
                'type' : ''
            }),
            form: new Form({
                id: '',
                name: '',
                email: '',
                password: '',
                type: 'user',
            })
        }),
        methods: {
            getResults(page = 1) {
                  this.$Progress.start();
                  const link = 'api/user?page=' + page + '&name=' + this.filter.name + '&type=' + this.filter.type;
                  axios.get(link).then(({ data }) => (this.users = data.data));
                  this.$Progress.finish();
            },
            createUser() {
                this.form.post('api/user')
                .then((response)=>{
                    $('#addNew').modal('hide');
                    toast.fire({
                            icon: 'success',
                            title: response.data.message
                    });
                    this.$Progress.finish();
                    this.loadUsers();
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Some error occured! Please try again'
                    });
                })


            },
            deleteUser(id){
                swal.fire({
                    title: '¿Está usted seguro?',
                    text: "¡No podrás revertir esto!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: '¡Sí, bórralo!',
                    cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/user/'+id).then(()=>{
                                        swal.fire(
                                        '¡Eliminado!',
                                        'El usuario ha sido eliminado.',
                                        'success'
                                        );
                                    // Fire.$emit('AfterCreate');
                                    this.loadUsers();
                                }).catch((data)=> {
                                  swal.fire("Failed!", data.message, "warning");
                              });
                         }
                    })
            },
            loadUsers(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/user').then(({data}) => (this.users = data.data));
                }
                this.$Progress.finish();
            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            updateUser(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/user/'+this.form.id)
                .then((response) => {
                    // success
                    $('#addNew').modal('hide');
                    console.log('Por acá');
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.$Progress.finish();
                        //  Fire.$emit('AfterCreate');
                    this.loadUsers();
                })
                .catch(() => {
                    this.$Progress.fail();
                });
            },
            
        },
        created () {
            this.loadUsers();
        },
        
    }
</script>

<style lang="scss" scoped>

</style>