<template>
    <div class="row">

        <!-- <div class="card mx-2" style="width: 18rem;">
            <div class="text-center" style="font-size: 88px; color: Dodgerblue;">
                <i class="fa fa-database"></i>
            </div>
            <div class="card-body text-center">
            <h6 class="card-title">Completa</h6>
                <downloadexcel
                    class = "btn btn-primary btn-block"
                    @click = "medicion=1"
                    :fetch   = "fetchData"
                    :before-generate = "startDownload"
                    :before-finish = "finishDownload"
                    worksheet = "Datos"
                    type="csv"
                    name    = "base_completa.xls">
                    <i class="fas fa-download"></i> Descargar Excel
                </downloadexcel>
            </div>
        </div> -->

        <!-- <div v-for="medicion in medicions" :key="medicion.id" class="col-xl-3 card mx-2 my-2" style="width: 18rem;">
            <div class="text-center" style="font-size: 88px; color: Dodgerblue;">
                <i class="fa fa-database"></i>
            </div>
            <div class="card-body text-center">
                <h6 class="card-title">{{ medicion.descripcion_corto }} - {{ medicion.id }}</h6>
                <a href="#" class="btn btn-primary"><i class="fas fa-download m-1"></i> Lider</a>
                <a href="#" class="btn btn-primary"><i class="fas fa-download m-1"></i> Express</a>
                <a href="#" class="btn btn-primary"><i class="fas fa-download m-1"></i> SBA</a>
            </div>
        </div> -->

        <div v-for="medicion in medicions" :key="medicion.id" class="col-xl-3 mt-2">
            <div class="card mb-4">
                <div class="card-header text-center" style="color:#024c90">
                    <h5 class="card-title">{{ medicion.descripcion_corto }}</h5>
                </div>
                <div class="card-body">
                    <div class="text-center" style="font-size: 88px; color: Dodgerblue;">
                        <i class="fa fa-database"></i>
                    </div>
                </div>
                <div class="card-header text-center">
                    <a href="#" @click="descarga(medicion.id, 1)" class="btn btn-lider"><i class="fas fa-download m-1"></i> Lider</a>
                    <a href="#" @click="descarga(medicion.id, 2)" class="btn btn-express"><i class="fas fa-download m-1"></i> Express</a>
                    <a href="#" @click="descarga(medicion.id, 3)" class="btn btn-sba"><i class="fas fa-download m-1"></i> SBA</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import downloadexcel from "vue-json-excel";
    export default {
        props : ['mediciones'],
        components: {
            downloadexcel,
        },
        data() {
            return {
                alumnos: {},
                medicions: {},
                medicion: 0,
            }
        },
        methods: {
            getMediciones() {
                axios.get("api/medicion", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.medicions = data.data;
                });
            },
            descarga(medicion, formato){
                console.log(medicion, formato);
            },
            // getDatos() {
            //     axios.post("api/descarga_db", {
            //         'filtro' : this.filtro
            //     }) //.then(({ data }) => (this.datos = data.data));
            //     .then(({data})=>{
            //         this.datos = data.data;
            //         this.formato_total = data.data.formato_0;
            //         this.formato_lider = data.data.formato_1;
            //         this.formato_express = data.data.formato_2;
            //         this.formato_sba = data.data.formato_3;
            //     });
            // },
            async fetchData(medicion){
                const response = await axios.post('api/descarga_db', { 'medicion' : this.medicion });
                return response.data;
            },
            startDownload(){
                //alert('show loading');
            },
            finishDownload(){
                //alert('hide loading');
            },
        },
        created () {
            this.getMediciones();
        }
    }
</script>

<style lang="scss" scoped>

</style>