<template>
    <div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Filtros
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <!-- <form @submit.prevent="filtrar()" class="form-horizontal"> -->
                        <div class="card-body">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Sucursales</label>
                                <div class="col-sm-8">
                                    <select  class="form-control" v-model="filtro.sucursal_id">
                                        <option value=0 selected disabled>Seleccionar</option>
                                        <option 
                                            v-for="(cat,index) in sucursals" :key="index"
                                            :value="index"
                                            :selected="index == filtro.sucursal_id">{{ cat }}</option>
                                    </select>
                                </div>
                            </div>

                            
                            
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" @click="filtrar()" class="btn btn-primary">Filtrar</button>
                            <!-- <button type="button" @click="limpiaFiltros()" class="btn btn-default float-right">Limpiar Filtros</button> -->
                        </div>
                        <!-- /.card-footer -->
                    <!-- </form> -->

                </div>
            </div>
        </div>
    </div>



                    





    </div>
</template>

<script>
    export default {
        data() {
            return {
                sucursals: [],
                filtro : {
                    sucursal_id: 0,
                },
                
            }
        },
        methods: {
            loadSucursales(){
                axios.get("sucursal/list").then(({ data }) => (this.sucursals = data.data));
            },
            limpiaFiltros(){
                
                this.filtro.sucursal_id = 0;
            },
            filtrar(){
                // console.log('Filtrar');
                this.$emit("aplicaFiltro", this.filtro)//<-- Justo aquí
            }
        },
        created() {
            // this.$Progress.start();
            this.loadSucursales();
            // this.$Progress.finish();
        },
    }
</script>

<style lang="scss" scoped>

</style>