<template>
    <div>

        <!-- {{ datos }} -->
        <sparkline width="100" height="30" :tooltipProps="spTooltipProps4">
            <sparklineBar
            :data="spData4"
            :margin="spMargin4"
            :limit="spData4.length"
            :styles="spBarStyles4"
            :refLineStyles="spRefLineStyles4" 
            />
        </sparkline>
    </div>
</template>

<script>
    export default {
        props: ['datos'],
        data () {
            return {
                // 数据集合
                spData4: this.datos,
                // margin
                spMargin4: 2,
                spBarStyles4: {
                    fill: '#54a5ff'
                },
                spLineStyles4: {
                    stroke: '#d14'
                },
                spRefLineStyles4: {
                    stroke: '#d14',
                    strokeOpacity: 0,
                    strokeDasharray: '6, 3'
                },
                spTooltipProps4: {
                    formatter (val) {
                        return `${
                            val.index == 0 ? "Q1 Jul 21" : 
                            val.index == 1 ? "Q2 Jul 21" : 
                            val.index == 2 ? "Q1 Ago 21" : 
                            val.index == 3 ? "Q2 Ago 21" : 
                            val.index == 4 ? "Q1 Sep 21" : 
                            val.index == 5 ? "Q2 Sep 21" : 
                            val.index == 6 ? "Q1 Oct 21" : 
                            val.index == 7 ? "Q2 Oct 21" : 
                            val.index == 8 ? "Q1 Nov 21" : 
                            val.index == 9 ? "Q2 Nov 21" : 
                            val.index == 10 ? "Q1 Dic 21" : 
                            val.index == 11 ? "Q2 Dic 21" : val.index
                            }：<label style="color:${val.color};font-weight:bold;">${val.value}</label>`
                        // return this.prueba(val.index, val.color, val.value); 
                        // `medición ${val.index}：<label style="color:${val.color};font-weight:bold;">${val.value}</label>`
                    }
                }
            }
        },
        compute: {
            prueba(index, color, value){
                return `medición ${index}：<label style="color:${color};font-weight:bold;">${value}</label>`
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>