<template>
    <div>
        <table class="table table-hover table-bordered border-primary">
            <thead>
                <tr>
                    <th width="40%">Variedad</th>
                    <th v-for="local in locales" :key="local.num" class="text-center">
                        {{ local }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pregunta in preguntas" :key="pregunta.num">
                    <td>{{ pregunta.literal_pregunta }}</td>
                    <td class="text-center" v-for="dato in pregunta.datos" :key="dato.num">
                        <i v-if="dato.existe == 1" class="fas fa-check green"></i>
                        <i v-else-if="dato.existe == 0" class="fas fa-ban red"></i>
                        <!-- {{ dato.existe }} -->
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                preguntas: {},
                locales: {},
            }
        },
        props: ['cod_interno', 'filtro'],
        methods: {
            recuperaDatos(){
                this.preguntas = {};
                this.locales = {};
                axios.post("api/variedad_por_local_producto", {
                    'filtro' : this.filtro,
                    'cod_interno' : this.cod_interno
                })
                .then(({data})=>{
                    this.preguntas = data.data.preguntas;
                    this.locales = data.data.locales;
                })
            },
        },
        created () {
            this.recuperaDatos();
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            }
        }, 
    }
</script>

<style lang="scss" scoped>

</style>