<template>
    <div>
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro"></filtro-completo>

        <h4 v-if="filtro.medicion_id == 0 || filtro.formato_id == 0">
            <div class="card mt-4 p-4 text-center">
            Seleccione Medición y Formato
            </div>
        </h4>
        <div v-else>

            <div class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Frutas y Veduras
                    </div>
                    <div class="card-body">
                        <div class="mb-6">
                            <!-- <tabla-variedad-por-seccion cod_interno="P1_2_4" :filtro="filtro"></tabla-variedad-por-seccion> -->
                            <h6 class="text-primary">¿Se encuentran las siguientes frutas en el sector?</h6>
                            <TablaVariedad cod_interno="P1_2_4" :filtro="filtro"></TablaVariedad>
                        </div>

                        <div class="mb-4">
                            <!-- <tabla-variedad-por-seccion cod_interno="P1_2_4" :filtro="filtro"></tabla-variedad-por-seccion> -->
                            <h6 class="text-primary">¿Se encuentran las siguientes verduras en el sector?</h6>
                            <TablaVariedad cod_interno="P1_2_5" :filtro="filtro"></TablaVariedad>
                        </div>

                        
                    </div>
                </div>

                <!-- Carnicería -->
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Carnicería
                    </div>
                    <div class="card-body">
                        <div class="mb-6">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos en el mesón?</h6>
                            <TablaVariedad cod_interno="P2_1_2_6" :filtro="filtro"></TablaVariedad>
                        </div>

                        <div class="mb-4">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos básicos en el sector? (ENVASADO)</h6>
                            <TablaVariedad cod_interno="P2_2_2_6" :filtro="filtro"></TablaVariedad>
                        </div>


                        <div class="mb-4">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos en el sector? (ENVASADO)</h6>
                            <TablaVariedad cod_interno="P2_2_2_7" :filtro="filtro"></TablaVariedad>
                        </div>
                       
                    </div>
                </div>


                <!-- Fiambrería -->
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Fiambrería
                    </div>
                    <div class="card-body">
                        <div class="mb-6">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos en el sector? (MESON)</h6>
                            <TablaVariedad cod_interno="P3_2_4" :filtro="filtro"></TablaVariedad>
                        </div>

                        <div class="mb-6">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos en el sector? (ENVASADO)</h6>
                            <TablaVariedad cod_interno="P3_2_4_6" :filtro="filtro"></TablaVariedad>
                        </div>
                    </div>
                </div>

                 <!-- Panadería -->
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Panadería
                    </div>
                    <div class="card-body">
                        <div class="mb-6">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos en el sector?</h6>
                            <TablaVariedad cod_interno="P4_2_4" :filtro="filtro"></TablaVariedad>
                        </div>

                        <div class="mb-6">
                            <h6 class="text-primary">¿Se encuentran los siguientes productos en la sección de pastelería?</h6>
                            <TablaVariedad cod_interno="P4_2_5" :filtro="filtro"></TablaVariedad>
                        </div>

                        
                    </div>
                </div>
            </div>


            
        </div>

        
    </div>
</template>

<script>
    import FiltroCompleto from '../FiltroCompleto2.vue';
    import TablaVariedad from './TablaVariedadPorLocalPregunta';

    export default {
        components: { FiltroCompleto, TablaVariedad },
        data() {
            return {
                muestra: 1,
                datacollection: {},
                options: {},
                datos: {},
                valores: {},
                etiquetas: {},
                colores: {},
                bordes: {},
                filtro : {
                    medicion_id: 0,
                    formato_id: 0,
                    sucursal_id: 0,
                    seccion_id: 0,
                    dimension_id: 0,
                },
                muestraFiltro : {
                    medicion : true,
                    formato : true,
                    sucursal : false,
                    seccion : false,
                    dimension : false,
                }
            }
        },
        methods: {
            aplicaFiltro(filtro) {
                console.log('por acá');
                this.filtro = filtro;
            },
            
        },
        created () {
            //this.recuperaDatos();
        },
        // watch: {
        //     filtro: {
        //         handler: function(val, oldVal) {
        //             this.recuperaDatos(); // call it in the context of your component object
        //         },
        //         deep: true
        //     }
        // }, 
    }
</script>

<style lang="scss" scoped>

</style>